@model IEnumerable<CAC_Management.Models.Result>
@{ Layout = "_LayoutForAdmin";
    ViewData["Title"] = "ResultView"; }
<body style="background-color: #db937b;align-content: center;">
    <div style="margin:15px;">
        <h2><center> <strong> Result  </strong></center></h2>
        <br />
        <a asp-action="AddResult" class="btn btn-primary">Create Result</a>

        <table class="table table-bordered">
            <tr>
                <th>
                    <center>
                        @Html.DisplayNameFor(m => m.FirstOrDefault().StudentId)
                    </center>
                </th>
                <th>
                    <center>
                        @Html.DisplayNameFor(m => m.FirstOrDefault().StudentName)
                    </center>
                </th>
                <th>
                    <center>
                        @Html.DisplayNameFor(m => m.FirstOrDefault().Subject)
                    </center>
                </th>
                <th>
                    <center>
                        @Html.DisplayNameFor(m => m.FirstOrDefault().Marks)
                    </center>
                </th>
                <th>
                    <center>
                        <strong>
                            @Html.DisplayNameFor(m => m.FirstOrDefault().Performance)
                        </strong>
                    </center>
                </th>
                <th>
                    <center>
                        <strong>
                            Action
                        </strong>
                    </center>
                </th>
            </tr>

            @foreach (var item in Model)
            {
<tr>
    <td>
        <center>
            @Html.DisplayFor(p => item.StudentId)
        </center>

    </td>
    <td>
        <center>
            @Html.DisplayFor(p => item.StudentName)
        </center>

    </td>



    <td>


        <center>
            @Html.DisplayFor(p => item.Subject)
        </center>

    </td>
    <td>
        <center>
            @Html.DisplayFor(p => item.Marks)
        </center>

    </td>
    <td>
        <center>
            @Html.DisplayFor(p => item.Performance)


        </center>
    </td>
    <td style="text-align:center">

        @*<a asp-action="EditRoutine" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>*@
        <a asp-action="DeleteStudent" asp-route-id="@item.StudentId" class="btn btn-primary">Delete</a>
    </td>
</tr>            }

        </table>
    </div>
</body>